@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(27, 25, 25);
  color: white;
}

.nav-styles {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
}

 